.body {
    font-family: "Quicksand";
}

header img {
    margin: 21px 109px -15px 27px;
}

input {
    width: 357px;
    height: 58px;
    background-color: #ECF3F5;
    margin: 20px 482px 19px 0px;
    border: none;
    border-radius: 10px;
    padding: 20px 129px 19px 25px;
}

header span {
    font-size: 15px;
    font-weight: 400;
    margin: 41px 21px 37px 0px;
}

header button {
    display: inline-block;
    width: 175px;
    height: 58px;
    background-color: #B1CED4;
    color: #2C3832;
    margin: 20px 29px 19px 0px;
    border: none;
    border-radius: 10px;

}

hr {
    margin-bottom: 17px;
    height: 1px;
    background-color: #ECEDED;
    border: none;
}
.card {
    display: inline-block;
    vertical-align: top;
    width: 203px;
    height: 214px;
    background-color: #D8E6E9;
    border-radius: 10px;
    margin: 25px 29px 0px 0px;
}
    .card1 {
        margin-left: 139px;
    }
    .card5 {
        margin-left: 139px;
    }
    .card9 {
        margin-left: 139px;
    }

.card img {
    width: 203px;
    height: 143px;
    border-radius: 10px 10px 0px 0px;
}

.card h2 {
    font-size: 17px;
    font-weight: 500;
    margin: 8px 0px 0px 0px;
    text-align: center;
}

.card span {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    margin: 0px 0px 12px 11px;
}

    section .icon1 {
        display: inline-block;
        vertical-align: middle;
        width: 23px;
        height: 23px;
        margin-left: 10px;
        margin: 9px 0px 10px 90px;
    }

    section .icon2 {
        display: inline-block;
        vertical-align: middle;
        width: 55px;
        height: 23px;
        margin: 9px 0px 10px 58px;
    }

    section .icon3 {
        display: inline-block;
        vertical-align: middle;
        width: 73px;
        height: 23px;
        margin: 9px 0px 10px 40px;
    }

.menu {
    width: 970px;
    height: 106px;
    background-color: #EAF0F0;
    margin-left: 115px;
    align-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
}

.menu button {
    width: 195px;
    height: 58px;
    background-color: #D9D9D9;
    color: #A9A9A9;
    border-radius: 10px;
    margin: 0px 18px 0px 24px;
    border: none;
}

.menu button:hover {
    background-color: #4A5C2F;
    color: #ECF3F5;
    transform: translateY(-3px);
}


.card:hover {
    box-shadow: 0px 0px 40px 10px #4A5C2F;
}

header button:hover {
    box-shadow: 0px 0px 40px 10px #4A5C2F;
    background-color: #4A5C2F;
    color: white;
}